
<div class="text-center">
    <h2 class="display-5 text-black-50">Життя</h2>
    <hr />
    <div>
        <p class="text-start">
            Вінсент Віллем ван Гог народився 30 березня 1853 року в селі Гроот-Зундерт у провінції Північний Брабант 
            на півдні Нідерландів. Його батьками були Теодор ван Гог, пастор Нідерландської реформаторської церкви,
            та Анна Корнелія Карбентус, дочка палітурника. Новонародженого назвали на честь дідуся Вінсента ван 
            Гога (1789—1874, здобув ступінь з теології у Лейденському університеті у 1811 році) та народженого
            роком раніше старшого брата, який помер у свій перший день життя. 
        </p>
        <p class="text-start">
            Висловлювались думки, що найменування на честь померлого
            могло сильно психологічно вплинути на молодого художника,
            і деякі елементи його мистецтва, такі як зображення пари
            чоловічих фігур можуть бути наслідком саме цієї події.
            Практика використання того самого імені не була незвичною в той час.
            Так, дід Вінсент мав шістьох синів, троє з яких стали продавцями творів мистецтва,
            включаючи одного з них — Вінсента. Своєю чергою, дід художника, можливо, був названий на честь
            дядька свого власного батька, успішного скульптора Вінсента ван Гога (1729—1802).
            Взагалі, мистецтво та релігія були двома видами діяльності, до яких тяжіла родина ван Гогів.
        </p>
        <p class="text-start">
            Через чотири роки після Вінсента, 1 травня 1857 року, народився його брат Теодорус (Тео). 
            Був ще один брат Корнеліус та три сестри — Анна, Елізабет і Вільгельміна. У дитинстві ван Гог був серйозним,
            мовчазним та задумливим, віддавав перевагу прогулянкам або читанню на самоті. За спогадами Елізабет,
            юний Вінсент був «скоріше широкоплечим, ніж струнким, злегка сутулим через звичку ходити опустивши голову,
            з рудим коротко підстриженим волоссям під брилем, який затінював це дивне обличчя». 
        </p>
        <p class="text-start">
            Сам Вінсент ван Гог зізнавався, що його дитинство було досить похмурим, хоча йому й подобалось
            блукати полями та сосновим лісом поблизу дому. У 1860 році Вінсент вступив до сільської школи в Зундерті,
            де було близько 200 учнів та єдиний вчитель — католик. З 1861 року Вінсент та його сестра Анна навчались
            вдома з гувернанткою до 1 жовтня 1864 року, коли він поїхав до Зевенбергена (за 20 миль від дому),
            щоб навчатись у початковій школі-інтернаті Яна Провілі. Він страждав через те, що довелось поїхати з
            рідного дому, і згадував про це уже навіть в дорослому віці. 15 вересня 1866 року Вінсент поїхав до
            нової середньої школи — коледжу Віллема ІІ в Тілбурзі, де він, серед інших дисциплін, вивчав малювання.
            У березні 1868 року ван Гог несподівано покинув школу та повернувся додому.
            Про свої ранні роки він писав: «Моє дитинство було похмуре, холодне й безплідне…».
        </p>
    </div>
</div>
