@model Picture[];

<div class="text-center">
    <h2 class="display-5 text-black-50">Галерея</h2>
    <hr/>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for(int i = 0;i<Model.Length;i++)
            {
                string @cls = @i == 0 ? "active" : "";
                <button class=@cls type="button" data-bs-target="#carousel" data-bs-slide-to=@i aria-label=$"Slide {@i}"></button>
            }
        </div>
        <div class="carousel-inner bg-gray m-0 p-0">
            @for (int i = 0; i < Model.Length; i++)
            {
                string @cls = @i == 0 ? "active" : "";
                <div class="carousel-item @cls ">
                    <img src=@Model[@i].Path class="d-block m-auto" style="height:70vh;">
                    <div class="carousel-caption d-none d-md-block ">
                        <h5>@Model[@i].Title</h5>
                        <p>@Model[@i].Description</p>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>