

<div class="text-center">
    <h2 class="display-5 text-black-50">Вінсент ван Гог</h2>
    <hr/>
    <div class="d-flex gap-4">
        <img class="h-100 w-25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Vincent_van_Gogh_-_s0273V1962_-_Van_Gogh_Museum.jpg/256px-Vincent_van_Gogh_-_s0273V1962_-_Van_Gogh_Museum.jpg" />
        <div class=" w-75 d-flex flex-column justify-content-between ">
            <div>
                <div class="py-4 bg-gray text-start  border-primary border-start border-4">
                    <span class="mx-4 fs-4"> <strong>Вінсент ван Гог (1853 – 1890)</strong> – нідерландський художник, постімпресіоніст.</span>
                </div>
                <p class="text-start mt-2">
                        Вінсент Віллем Ван Гог — геніальний нідерландський художник-постімпресіоніст,
                        один з найвідоміших представників західного мистецтва. У нього не вийшло стати
                        знаменитим та багатим за життя, але вдалося увійти в історію, незважаючи на душевну
                        хворобу і відсутність фундаментальної художньої освіти
                </p>
                <p class=" text-start mt-2">
                     Народився Вінсент 30 березня 1853 в Нідерландах. Першу освіту отримав в семирічному віці в сільській школі. 
                     Через рік він став навчатися вдома. А вже в 1864 році Вінсент покинув будинок, став вчитися в школі -інтернаті. 
                     Через два роки він перейшов до коледжу Тілбурга, де отримав перші уроки живопису. 
                     Але в 1868 році він, не витримавши розлуки, повертається додому.
                </p>
            </div>
            <p class="text-start">Джерело:  <a href="https://dovidka.biz.ua/vinsent-van-gog-biografiya">https://dovidka.biz.ua/vinsent-van-gog-biografiya</a></p>
        </div>
    </div>
</div>
